In [ ]:
#Q1
# def keyword is used to create a function
n = 1
n1 = 25
l=[]
def od():
    for i in range(n,n1+1):
        if i%2!=0:
            l.append(i) 
    return l
od()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [ ]:
#Q2
# *args - It allow us to pass the variable number of non keyword arguments to function
# *kwargs -  It allows us to pass the variable length of keyword arguments to the function

def sub(*num):
    diff = 0
    
    for n in num:
        diff = diff - n

    print("Difference:",diff)

sub(3,5)
sub(4,5,6,7)
sub(1,2,3,5,6)
print()
print("The Avengers !!")
print()
def info(**details):
    for k,v in details.items():
        print("{} = {}".format(k,v))
    print()

info(NAME="Tony Stark", Roll="Iron Man",Team="Avengers")
info(NAME="Steve Roger", Roll="Captain America",Team="Avengers")
info(NAME="Thor Odinson", Roll="God of Thunder",Team="Avengers")
info(NAME="Dr. Bruce Banner", Roll="Hulk",Team="Avengers")
info(NAME="Clint Barton", Roll="Hawkeye",Team="Avengers")
info(NAME="Natasha Romanoff", Roll="Black Widow",Team="Avengers")

Difference: -8
Difference: -22
Difference: -17

The Avengers !!

NAME = Tony Stark
Roll = Iron Man
Team = Avengers

NAME = Steve Roger
Roll = Captain America
Team = Avengers

NAME = Thor Odinson
Roll = God of Thunder
Team = Avengers

NAME = Dr. Bruce Banner
Roll = Hulk
Team = Avengers

NAME = Clint Barton
Roll = Hawkeye
Team = Avengers

NAME = Natasha Romanoff
Roll = Black Widow
Team = Avengers

In [ ]:
#Q3
# Iterator in Python is an object that is used to iterate over iterable objects like lists, tuples, dicts, and sets
# The method used to initialise the iterator object: -  iter() method 
# and the method used for iteration :- next()
l = [2, 4, 6, 8, 10, 12, 14,16, 18, 20]
i = iter(l)

print(next(i))
print(next(i))
print(next(i))
print(next(i))
print(next(i))

2
4
6
8
10

In [ ]:
#Q4
# A generator is a function that returns an iterator that produces a sequence of values when iterated over
# Yield keyword is used to produce a value from the generator and pause the generator function's execution until the next value is requested

def my_generator(n):
    value = 0
    while value < n:
        yield value
        value += 1
for value in my_generator(3):
    print(value)

0
1
2

In [ ]:
#Q5
from math import sqrt

def is_prime(n):
    if (n <= 1):
        return False
    if (n == 2):
        return True
    if (n % 2 == 0):
        return False

    i = 3
    while i <= sqrt(n):
        if n % i == 0:
            return False
        i = i + 2

    return True
def prime_generator():
    n = 1
    while True:
        n += 1
        if is_prime(n):
            yield n
            
generator = prime_generator()

l=[]

for i in range(0,165):
  l.append(next(generator))
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977]

In [ ]:
#Q6
nterms = 10
n1, n2 = 0, 1
count = 0
print("Fibonacci sequence:")
while count < nterms:
  print(n1)
  nth = n1 + n2
  n1 = n2
  n2 = nth
  count += 1

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [5]:
#Q6
h_letters = [ letter for letter in 'pwskills' ]
print( h_letters)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [4]:
#Q8
num=int(input("Enter any number:"))
temp=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(temp==rev):
    print("The {0} number is palindrome!".format(temp))
else:
    print("Not a palindrome!")

Enter any number:121
The 121 number is palindrome!

In [ ]:
#Q9
odd_list = [element for element in range(1, 101) if element % 2 == 1 ]
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]